.checkbox-panel {
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.checkbox-panel-elem {
    display: flex;
    flex-direction: row;
    vertical-align: middle;
}

.checkbox-panel-label {
    display: flex;
    padding-top: 12px;
    padding-left: 20px;
}

.card {
    border-radius: 14px;
}