.control-panel-container {
    display: flex;
    flex-direction: row;
    margin-left: 20px;
    margin-right: 20px;
}

.control-panel {
    padding: 20px;
    padding-top: 10px;
    padding-bottom: 14px;
}

.control-panel-row {
    display: flex;
}

.control-panel-col {
    display: flex;
    flex-direction: column;
}

.control-panel-elem {
    display: flex;
    flex-direction: row;
    vertical-align: middle;
}

.control-panel-label {
    display: flex;
    padding-top: 8px;
    padding-left: 14px;
    padding-right: 14px;
}

.card {
    border-radius: 14px;
}

.filter-card {
    width: 57%;
}

.form-check-input {
    border: 1px solid rgb(150, 150, 150);
}

.page-title {
    margin-top: 20px;
}

button {
    margin-right: 12px;
    justify-content: space-between;
    height: 70px;
    padding-right: 26px;
    padding-left: 26px;
    border: 0px;
    border-radius: 18px;
    font-size: 26px;
}

.button-icon {
    margin: 0;
    padding: 0;
}

.button-label {
    margin-bottom: 4px;
    margin-left: 15px;
}

button:active {
    transform: scale(0.87);
    transition: transform 0.15s;
}

.button-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    align-items: center;
    height: 100%;
    transform: scale(1);
    transition: transform 0.15s;
}

button:active .button-content {
    transform: scale(0.82);
    transition: transform 0.15s;
}

.button-content img {
    position: relative;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 0px;
    width: 24px;
    border-radius: 0;
}

button .button-content .img-hover {
    position: absolute;
    top: 1.8px;
    left: 0;
    width: 24px;
    opacity: 0;
    transition: opacity 0.15s;
}

button:hover .button-content .img-hover {
    opacity: 1;
    transition: opacity 0.15s;
}

.button-red {
    background-color: rgb(100, 20, 36);
    color:rgb(255, 105, 105);
    transform: scale(1);
    transition: all 0.3s;
    font-weight: 600;
}

.button-red:hover {
    background-color: rgb(255, 65, 90);
    color: black;
    transform: scale(1);
    transition: all 0.3s;
}

.button-red:active {
    background-color: rgb(185, 40, 65);
    color: black;
    transform: scale(0.9);
    transition: all 0.1s;
}

.button-green {
    background-color: rgb(14, 72, 41);
    color:rgb(109, 236, 128);
    font-weight: 600;
    transform: scale(1);
    transition: all 0.3s;
}

.button-green:hover {
    background-color: rgb(66, 231, 91);
    color: black;
    transform: scale(1);
    box-shadow: 0 0px 50px rgba(66, 235, 95, 0.6);
    transition: all 0.3s;
}

.button-green:active {
    background-color: rgb(41, 175, 88);
    color: black;
    box-shadow: 0 0px 50px rgba(66, 235, 95, 0.4);
    transform: scale(0.9);
    transition: all 0.2s;
}

.form-control {
    background-color: rgb(22, 26, 30);
}

.form-select {
    background-color: rgb(28, 30, 35);
    max-width: 70%;
}